.App {
  text-align: center;
  background-color: #282c34;
  color: #ccc;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Chat containers */
.message-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.message-darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.message-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.message-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.message-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.message-time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.message-time-left {
  float: left;
  color: #999;
}

.messages {
  overflow-y: scroll;
  height: 400px;
  width: 100%;
}

.profile-picture {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}
.profile-picture-small {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.ticketListContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.ticketListItem{
  width: 90%;
  max-width: 50rem;
  margin-top: 10px;
}

.ticketListItemInner{
  background-color: #3c424e;
  border: 1px solid #3c424e;
}
.ticketListContainer .ticketListItemInner:hover{
  background-color: #545c6d;
  transition: background-color 0.3s ease-in-out;
}

.onlineStaffButton{
  top: 0%;
  right: 0%;
  position: fixed;
}
.onlineStaffItem{
  margin-top: 1px;
}
.onlineStaffItemInner{

}